/* =========================
   BASE
========================= */

body {
    margin: 0;
    padding-top: 70px;
    background-color: #f4f6f8;
    font-family: 'Segoe UI', sans-serif;
    scroll-behavior: smooth;
}

/* =========================
   NAVBAR
========================= */
.navbar-brand {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.navbar-nav .nav-link {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

/* =========================
   CONTENT BOX
========================= */

.container {
    max-width: 900px;
    margin: 40px auto;
}

.content-box {
    background: rgb(201, 212, 212);
    padding: 30px;
    border-radius: 8px;
}

/* =========================
   HEADINGS
========================= */

h1 {
    color: #2c3e50;
}

h2 {
    color: #34495e;
}

/* =========================
   SECTIONS
========================= */

section {
    padding: 100px 60px;
    min-height: 100vh;
}

/* =========================
   LIST STYLE
========================= */

ul {
    margin-top: 15px;
    list-style: none;
}

section ul li {
    display: flex;
    align-items: center;
    gap: 6px;
}

section ul li::before {
    content: "➜";
    color: #2c3e50;
}

/* =========================
   FOOTER
========================= */

.footer {
    text-align: center;
    padding: 20px;
    background-color: #343a40;
    color: white;
}